@model IEnumerable<GrabIt.Models.PROCESSTYPE>

<div id="divProcessType" class="form-group">
    <label class="col-sx-2 control-label" for="SelProcessType">Process Type:</label>
    <div class="col-sx-10">
        <select id="SelProcessType" class="form-control" onchange=" validateProcessType();">
            <option value="">Please Select</option>
            @foreach (var item in Model)
            {
                <option value="@Html.DisplayFor(modelItem => item.ProcessTypeID)">@Html.DisplayFor(modelItem => item.Desc)</option>
            }
        </select>
    </div>
</div>