@model IEnumerable<GrabIt.Models.PROCESSCATEGORy>


<script type="text/javascript">
    $(document).ready(function () {
        $("#SelCatType").change(function () {
            $("#DivProcessType").slideUp('slow');
            $.ajax({
                url: '@(Url.Action("GetProcessType", "DataInput"))',
                data: { catID: $("#SelCatType").val() },
                success: function (data) {
                    $("#DivProcessType").html(data).slideDown('slow');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve books.');
                }
            });
        });
    });



</script>

<div class="form-group">
    <label class="col-sx-2 control-label" for="SelCatType">Process Category: </label>
    <div class="col-sx-10">
        <select id="SelCatType" class="form-control">
            <option value="">Please Select</option>
            @foreach (var item in Model)
            {
                <option value="@Html.DisplayFor(modelItem => item.ProcessCategoryID)">@Html.DisplayFor(modelItem => item.Desc)</option>
            }
        </select>
    </div>
</div>