@model IEnumerable<GrabIt.Models.SHIFTTYPE>

<div class="form-group">
    <label class="col-sx-2 control-label" for="SelShiftType">Shift Type:</label>
    <div class="col-sx-10">
        <select id="SelShiftType" class="form-control">
            <option value="">Please Select</option>
            @foreach (var item in Model)
            {
                <option value="@Html.DisplayFor(modelItem => item.ShiftTypeID)">@Html.DisplayFor(modelItem => item.Desc)</option>
            }
        </select>
    </div>
</div>