
<h4>Please enter the process details.</h4>
<script type="text/javascript">
    $(document).ready(function () {
      
    });

    function validateAndSaveProcess() {

        if (!validateAddProcess()) return false;

        var ProcObj = {

            ShiftTypeID: $("#SelShiftType").val(),
            Date: $("#datepicker").val(),
            StartTime: $("#TxtStartTime").val(),
            EndTime: $("#TxtEndTime").val(),
            ProcessTypeID: $("#SelProcessType").val(),
            UserID: 1,
            Completed: false,
            ProcessID: selectedProcess
        }
        console.log(ProcObj);

        $.ajax({
            url: '@(Url.Action("AddProcess", "DataInput"))',
            data: ProcObj,
            success: function (data) {
                getMeasurements(data, $("#SelProcessType").val());
                selectedProcess = data;
                dateChanged();

                $("#SelShiftType").attr("disabled", true);
                $("#SelCatType").attr("disabled", true);
                $("#SelProcessType").attr("disabled", true);
                
                $("#BtnAddProcess").val("Save");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    }
    function validateStartTime() {
        var val = $("#TxtStartTime").val();
        if (val == "") {
            $("#divStartTime").addClass("has-error");
            return false;
        } else {
            $("#divStartTime").removeClass("has-error");
            return true;
        }

    }
    function validateEndTime() {
        var val = $("#TxtEndTime").val();
        if (val == "") {
            $("#divEndTime").addClass("has-error");
            return false;
        } else {
            $("#divEndTime").removeClass("has-error");
            return true;
        }

    }
    function validateShiftType() {
        var val = $("#SelShiftType").val();
        if (val == "") {
            $("#divShiftType").addClass("has-error");
            return false;
        } else {
            $("#divShiftType").removeClass("has-error");
            return true;
        }

    }
    function validateCatType() {
        var val = $("#SelCatType").val();
        if (val == "") {
            $("#divCatType").addClass("has-error");
            return false;
        } else {
            $("#divCatType").removeClass("has-error");
            return true;
        }

    }
    function validateProcessType() {
        var val = $("#SelProcessType").val();
        if (val == "") {
            $("#divProcessType").addClass("has-error");
            return false;
        } else {
            $("#divProcessType").removeClass("has-error");
            return true;
        }

    }
    function validateAddProcess() {
        return validateStartTime() & validateEndTime() & validateShiftType() & validateCatType() & validateProcessType();
    }

</script>

<form id="addProcessForm" class="form-horizontal" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="container" style="margin-top:15px;margin-left:15px;">
        <div class="row">
            <div class="col-xs-5">
                @{Html.RenderAction("GetShiftType", "DataInput");}

                <div id="divStartTime" class="form-group col-md-6" style="margin-left: -60px;">
                    <div class="col-xs-12">
                        <label class="col-xs-8 control-label" for="TxtStartTime">Start Time:</label>
                        <div class="col-xs-10">
                            <input id="TxtStartTime" type="time" class="form-control" name="TxtStartTime" onchange="validateStartTime();">
                        </div>
                    </div>
                </div>

                <div id="divEndTime" class="form-group col-md-6" style="margin-left: -45px;">
                    <div class="col-xs-12">
                        <label class="col-xs-8 control-label" for="TxtEndTime">End Time:</label>
                        <div class="col-xs-10">
                            <input id="TxtEndTime" type="time" class="form-control" onchange="validateEndTime();">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group col-md-10">
                    @{Html.RenderAction("GetProcessCat", "DataInput");}
                    <div id="DivProcessType"></div>
                </div>
            </div>

            @*@{Html.RenderAction("GetProcessType", "DataInput");}<br />*@


        </div>
        <div class="row">
            <div class="form-group">
                <input id="BtnAddProcess" type="button" class="btn btn-default" style="margin-left: 15px;margin-top: 20px;"value="Add" onclick="validateAndSaveProcess();" />
                <div class="horizontalRule"></div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</form>